<section>
    <div class="blogEntier">
        <button type="button" ng-if="!$ctrl.user" class="btn btnFa btnConnect connect"><a ui-sref="app.login"><i class="fa fa-sign-in fa-3x"></i></a></button>

        <button type="button" class="btn nextprev" name="button" ng-click="$ctrl.back()" ng-if="$ctrl.startIndex > 0 && !$ctrl.selectedPost && !$ctrl.newPost"><i class="fa fa-chevron-circle-left fa-2x"></i></button>

        <div ng-repeat="post in $ctrl.posts | limitTo: 3 : $ctrl.startIndex" class="unpost" ng-if="!$ctrl.selectedPost && !$ctrl.newPost" >
            <h2 class="blogH2"> {{post.title}} </h2>
            <p class="separator"> ---^._.^--- *~ o ~* ---^._.^--- </p>
            <p class="blogP"> {{post.content | limitTo:300 }} </p>
            <button type="button" name="button" class="btn btnLearnMore" ng-click="$ctrl.selected(post, $index)">Learn more -></button>
        </div>

        <div class="zoomArticle" ng-if="$ctrl.selectedPost">
            <button type="button" class="btn btn-close" name="button" ng-click="$ctrl.selectedPost = null"><i class="fa fa-close fa-3x"></i></button>
            <div class="firstRow">
                <h2 class="articleH2" ng-if="!$ctrl.selectedPost.editMode"> {{$ctrl.selectedPost.title}} </h2>
                <input ng-if="$ctrl.selectedPost.editMode" type="text" name="title" ng-model="$ctrl.selectedPost.title" class="editTitle">
                <h3 class="articleH3"> publié le {{$ctrl.selectedPost.createdAt | date:"dd/MM/yyyy"}} {{($ctrl.selectedPost.createdAt != $ctrl.selectedPost.updatedAt ? ' et modifié le ' + ctrl.selectedPost.updateAt : null) | date:"dd/MM/yyyy"}} par {{$ctrl.selectedPost.author}}</h3>
                <!-- <input ng-if="$ctrl.selectedPost.editMode" type="text" name="author" ng-model="$ctrl.selectedPost.author" class="editAuthor"> -->
            </div>
            <p class="articleP" ng-if="!$ctrl.selectedPost.editMode"> {{$ctrl.selectedPost.content}} </p>
            <textarea rows="8" cols="100" ng-if="$ctrl.selectedPost.editMode" type="text" name="title" ng-model="$ctrl.selectedPost.content" class="editContent"></textarea>
            <button type="button" class="btn btnFa btnEdit" name="button" ng-if="$ctrl.user && !$ctrl.selectedPost.editMode" ng-click="$ctrl.edit(selectedPost) ; $ctrl.selectedPost.editMode = true"><i class="fa fa-pencil fa-3x"></i></button>
            <button type="button" class="btn btnFa btnOk" name="button" ng-if="$ctrl.user && $ctrl.selectedPost.editMode" ng-click="$ctrl.save() ; $ctrl.selectedPost.editMode = false"><i class="fa fa-check fa-3x"></i></button>
            <button type="button" class="btn btnFa btnDelete" name="button" ng-if="$ctrl.user && !$ctrl.selectedPost.editMode" ng-click="$ctrl.delete(selectedPost, $index)"><i class="fa fa-trash fa-3x"></i></button>
            <button type="button" class="btn btnFa btnCancel" name="button" ng-if="$ctrl.user && $ctrl.selectedPost.editMode" ng-click="$ctrl.cancel()"><i class="fa fa-remove fa-3x"></i></button>
        </div>

        <div class="newArticle" ng-if="$ctrl.newPost">
            <button type="button" class="btn btn-close" name="button" ng-click="$ctrl.newPost = null"><i class="fa fa-close fa-3x"></i></button>
            <input type="text" placeholder="Titre de l'article" name="title" ng-model="$ctrl.newPost.title" class="newTitle">
            <input type="text" placeholder="Nom de l'auteur" name="author" ng-model="$ctrl.newPost.author" class="newAuthor">
            <textarea rows="10" cols="100" type="text" placeholder="Contenu de l'article" name="content" ng-model="$ctrl.newPost.content" class="newContent"> </textarea>
            <button type="button" class="btn btnFa btnOk" name="button" ng-click="$ctrl.add()"><i class="fa fa-check fa-3x"></i></button>
        </div>

        <button type="button" class="btn nextprev" name="button" ng-click="$ctrl.next()" ng-if="$ctrl.startIndex < $ctrl.posts.length-3 && !$ctrl.selectedPost && !$ctrl.newPost"><i class="fa fa-chevron-circle-right fa-2x"></i></button>

    </div>
    <button type="button" name="button" ng-click="($ctrl.newPost = {})" class="btn btnAdd btnFa" ng-if="$ctrl.user && !$ctrl.selectedPost && !$ctrl.newPost"><i class="fa fa-plus-circle fa-3x"></i></button>
</section>
</section>
